
/*Fonts*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


  
/*Universal Styling*/


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #52616a;
    margin: 0;
    background-color: #f0f5f9;
    font-weight: 400;
}

.flex-header {
    display: flex;
}

.flex-container {
    display: flex;
}

a {
    color: #52616a;
    text-decoration: none;
}

.mobile-header {
    display: none;
}

.mobile-banner {
    display: none;
}

.information-mobile {
    display: none;
}



/*Header*/



header {
    min-height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    align-items: center;
    background-color: #f0f5f9;
}

header nav {
    text-align: right;
    flex-grow: 1;
    flex-shrink: 2;
}

nav span {
    display: inline-block;
    padding: 0 1rem 0 0;
}

nav span a {
    color: #52616a;

}

#sign-in {
    padding-right: 1.5rem;
}


header img {
    padding-left: 1.5rem;
}

#colmar {
    font-weight: 700;
    color: #1e2022;
}

#academy {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1e2022;
}


/*Banner Section*/



.banner {
    background-color: #c9d6de;
    width: 100%;
    height: 45.4375rem;
    display: inline-flex;
    color: #52616a;
    justify-content: left;
}

.banner-left {
    width: 60%;
    margin: 6rem 1.5rem 2rem 1.5rem;
}

.banner-left img {
    width: 100%;
}

.banner-right {
    margin: 10rem 0 0 0;
    width: 35%;
    float: left;
    height: 18.75rem;
}

.banner-right h1 {
    font-size: 4rem;
}

.banner-right h3 {
    font-size: 1.5rem;
}

.banner-right button {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #52616a;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    border: 0.1px solid #52616a;
}

.mobile-container {
    display: none;
}



/*information Section*/ 



.information {
    width: 100%;
    text-align: left;
    display: inline-flex;
}

.info-left {
    position: relative;
    top: 4rem;
    width: 60%;
    margin: 2rem 1.5rem;
    text-align: left;
}

.info-left img {
    width: 100%;
    margin-bottom: 2rem;
}

.info-left h2 {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.info-left .info-quote {
    margin-bottom: 2rem;
    font-weight: 300;
}

.info-left .info-author {
    font-weight: 400;
}

.info-right {
    width: 40%;
    position: relative;
    top: 4rem;
    margin-top: 2rem;
}

.info-right h4 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.info-right p {
    padding-bottom: 0.5rem;
}

.info-right a {
    color: #5bb7f0;
}

.info-right-img {
    height: auto;
    width: 35%;
}

.info-right-text{
    width: 65%;
    display: block;
    text-align: left;
    margin-left: 2rem;
    flex-wrap: wrap;
}

.info-right-text p {
    flex-wrap: wrap;
}

.info-right-container {
    display: inline-flex;
    height: 10.5rem;
    margin-bottom: 2.2rem;
    padding: 1rem 1rem;
}

#lecture {
    background-color: #c9d6de;
}


/*Courses Section */

.courses-section {
    background-color: #c9d6de;
    text-align: center;
    position: relative;
    top: 4rem;
    width: 100%;
    
}

.courses-section h2 {
    font-size: 3rem;
    padding-top: 2rem;
}

.courses {
    max-width: 100%;
    height: 900px;
    margin: 2rem 4.5rem 2rem 4.5rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.course-box {
    background-color: #f0f5f9;
    width: 30%;
    height: 370px;
    text-align: left;
}

.courses-text {
    margin-left: 1rem;
}

.courses-text p {
    margin: 0.5rem 0;
}

.course-box img {
    width: 100%;
}

.course-box h4 {
    font-size: 1.5rem;
}



/*Mobile Styling*/


@media only screen and (max-width: 760px) {
    
    .flex-header {
        display: none;
    }

    .mobile-header {
        display: flex;
        position: fixed;
        width: 100%;
        height: 64px;
        background-color: #f0f5f9;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }

    .banner {
        display: none;
    }

    .mobile-banner {
    display: flex;
    background-color: #c9d6de;
    width: 100%;
    height: 55rem;
    color: #52616a;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: column;
    }

    .mobile-banner img {
        width: 100%;
        position: relative;
        top: 4rem;
    }

    .mobile-banner-text {
        position: relative;
        top: 4rem;
        margin: 2rem 1rem;
        background-color: #c9d6de;

    }

    .mobile-banner-text h1 {
       font-size: 4rem;
       
    }

    .mobile-banner-text h3 {
        
        font-size: 1.5rem;
    }

    .mobile-banner-text button {
        width: 100%;
        background-color: #52616a;
        padding: 0.5rem 0;
    }

    .information {
        display: none;
    }

    .information-mobile {
        position: relative;
        top: 4rem;
        margin: 1rem 1rem 2rem 1rem;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .information-mobile h4 {
        font-size: 1.5rem;
    }

    .information-mobile a {
        color: #5bb7f0;
    }

    .information-mobile img {
        width: 100%;
    }

    .info-mobile-text {
        margin-left: 1rem;
        margin-bottom: 4rem;
    }
}
